link#bootstrap-css(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')

head 
    link#bootstrap-css(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
    link(rel='stylesheet', href='../../stylesheets/login.css')

bpdy#LoginForm
    .container 
        .login-form 
            .main-div 
                .panel 
                    if info && info.message
                        .alert.alert-danger 
                            = info.message
                    h2 Recuperacion de Password
                    p Por favor, ingrese su email para poder mandarle instrucciones para recuperar su password 
                form#Login(action='/forgotPassword' method='post')
                    .form-group 
                        input#email.form-control(type='email' placeholder='Email Address' name='email')
                    button.btn.btn-primary(type='submit') Recuperar