link#bootstrap-css(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')

head 
    link#bootstrap-css(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
    link(rel='stylesheet', href='../../stylesheets/login.css')

body#LoginForm
    .container  
        .login-form 
            .main-div 
                .panel 
                    h2 Recuperacion de Contraseña
                    p Revise su cuenta de email 